Source: ros-kinetic-igvc-self-drive-sim
Section: misc
Priority: extra
Maintainer: Micho Radovnikovich <mradov@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-igvc-self-drive-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-igvc-self-drive-description, ros-kinetic-igvc-self-drive-gazebo, ros-kinetic-igvc-self-drive-gazebo-plugins
Description: Metapackage for igvc_self_drive_sim
