Source: ros-melodic-igvc-self-drive-gazebo-plugins
Section: misc
Priority: extra
Maintainer: Micho Radovnikovich <mtradovn@oakland.edu>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-dynamic-reconfigure, ros-melodic-gazebo-ros, ros-melodic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-igvc-self-drive-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-dynamic-reconfigure, ros-melodic-gazebo-ros, ros-melodic-gazebo-ros-pkgs, ros-melodic-hector-gazebo-plugins, ros-melodic-hector-models, ros-melodic-robot-state-publisher, ros-melodic-roscpp
Description: Gazebo plugins for IGVC Self-Drive simulator
